<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Nuevo Registro</title>
  </head>
  <body>
        <!-- Example Code -->
        <ul class="nav" >
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"  href="#" >Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          
        <div style="margin-left: 25%; margin-right: 25%; margin-top: 2%;">
            <form action="/save" method="post">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Usuario</label>
                    <input type="text" class="form-control" id="user" name="username" tabindex="1">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Rol</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option value="admin">Administrador</option>
                      <option value="editor">Editor</option>
                      <option value="lector">Lector</option>
                    </select>
                  </div>
                <button type="submit" class="btn btn-primary mt-2" tabindex="5">Guardar</button>
                <a href="/" class="btn btn-secondary mt-2">Cancelar</a>
              </form>
        </div> 
        <!-- End Example Code -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
