<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Rol</title>
    <!-- Incluyendo Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Seleccionar Rol</h1>
        <div class="row mt-4">
            <div class="col-md-4">
                <a id="alumnoBtn" class="btn btn-primary btn-lg" href="/UsuarioCreateAlumnos">Alumno</a>
            </div>
            <div class="col-md-4">
                <a id="tutorBtn" class="btn btn-success btn-lg" href="/UsuarioCreateTutor">Tutor</a>
            </div>
            <div class="col-md-4">
                <a id="adminBtn" class="btn btn-danger btn-lg" href="/UsuarioCreateAdmin">Administrador</a>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
