        <!-- Encabezado -->
        <h1 class="my-4">Lista de Reportes</h1>

        <!-- Botón para crear nuevo tutor -->

        <!-- Tabla de Tutores -->
        <table class="table table-bordered table-striped text-center">
          <thead class="bg-primary text-white">
              <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Reporte</th>
                  <th scope="col">Calificacion</th>
                  <!-- Agregar más columnas según los datos adicionales -->
                  <!-- Por ejemplo: <th scope="col">Dirección</th> -->
              </tr>
          </thead>
          <tbody>
              <% results.forEach((tutor) => { %>
                  <tr>
                      <td><span class="fecha-nac" data-fecha-nac="<%= tutor.fecha %>"></span></td>
                      <td><%= tutor.reporte %></td>
                      <td><%= tutor.prom_general %></td>
                      <!-- Agregar más celdas según los datos adicionales -->
                      <!-- Por ejemplo: <td><%= tutor.direccion %></td> -->
                  </tr>
                  
              <% }); %>
          </tbody>
      </table>