<div class="container">
    <h2 class="mt-5">Formulario de Crear usuarios</h2>
    <form action="/UsuarioCreate" method="post" class="mt-4">
        <div class="form-group">
            <label for="id_tutor">ID ref</label>
            <input type="number" class="form-control" id="IDref" name="IDref" value=<%= iduser %> readonly >
        </div>
        <div class="form-group">
            <label for="id_alumno">Rol</label>
            <input  class="form-control" id="rolnewusuario" name="rolnewusuario" value=<%= roluserq %> readonly>
        </div>
        <div class="form-group">
            <label for="prom_general">Usuario</label>
            <input class="form-control" id="Usuario" name="Usuario" maxlength="40" required>
        </div>
        <div class="form-group">
            <label for="fecha">Contrasena</label>
            <input  class="form-control" id="Contrasena" name="Contrasena" maxlength="90" required>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
